.tag {
	border-radius: 10px;
	height: 25px;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 3px 15px;
	font-size: 14px;
	font-weight: 700;
	background-color: #FF6060;
	color: white;
}